body{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    height: 100%;
}

h1 {
    margin: 0;
    font-family: arial-bold, sans-serif;
    font-size: 64px;
}

p {
    font-family: "Heebo", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.underline {
    display: inline;
    text-decoration: underline;
}

.underline:hover {
    color: #6D93E5;
    transition-duration: .75s;
}

@media screen and (orientation: portrait) { /* Gets computer browser windows that are skinny*/
    /* body {
        background: yellow;
    } */

    @media (hover: none) { /* Gets all mobile screens */
        body {
            margin-left: 100px;
            /* background: green; */
        }

        h1 {
            font-size: 120px;
        }
    }
}

/* .things{
    font-size: 2em;
    margin-bottom: 0;
}

.big-list{
    list-style-type: none;
    font-size: 2em;
    line-height: 1.5em;
    margin-top: 0;
}

#header-2{
    margin-top: 0;
    margin-bottom: 50px;
}

#header-3{
    width: 60%;
    margin-bottom: 0;
    padding-bottom: 50px;
} */